.homepageimg{
    height:200px;
    width:200px;
    margin: 0 auto;
}
.roomfac {
    display: flex;
    width: 100%;
    max-width:100%;
    margin: 0 auto;
    justify-content: center;
}

.heightto400 {
    height:600px;
}

.padding20 {
    padding:10px;
}

.center {
    margin: auto;
    width:350px;
  }
